<label for="preg" clas="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" /><br />
<label for="resp" clas="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /><br />
<a href="/quizzes/"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">

