	<form method="get" action="<%= quiz.id %>/answer">
	  Pregunta: <%= quiz.pregunta %><br />
      <input type="text" name="respuesta" value="Responda aquí" />
	  <input type="submit" value="Enviar" />
	</form>
